/* filepath: /home/facu/portfolio/src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Ocultar la barra de desplazamiento en navegadores Firefox */
html {
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

/* Ocultar la barra de desplazamiento en Internet Explorer y Edge */
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Ocultar la barra de desplazamiento en elementos específicos */
.no-scroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}