---
---

<style>
  .timeline-horizontal{
    display: none;
  }
  .intro {
       text-align: center;
       padding: 2rem 0;
   }

   .intro h1 {
       font-size: 8rem; /* Increased font size */
       margin-bottom: 1rem;
   }

   .intro p {
       font-size: 2rem; /* Increased font size */
       color: #666;
       max-width: 800px;
       margin: 0 auto;
   }
 .timeline-section {
   background-color: #ebe5dc; /* beige */
   padding: 2rem 0;
 }

 .timeline {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
   padding: 2rem;
 }

 .timeline::after {
   content: '';
   position: absolute;
   width: 6px;
   background-color: #333;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -3px;
 }

 .container {
   padding: 20px 50px; /* Increased padding */
   position: relative;
   background-color: inherit;
   width: 50%;
 }

 .container::after {
   content: '';
   position: absolute;
   width: 25px;
   height: 25px;
   right: -17px;
   background-color: #333;
   border: 4px solid #ebe5dc;
   top: 15px;
   border-radius: 50%;
   z-index: 1;
 }

 .left {
   left: 0;
 }

 .right {
   left: 50%;
 }

 .left::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   right: 30px;
   border: medium solid #333;
   border-width: 10px 0 10px 10px;
   border-color: transparent transparent transparent #333;
 }

 .right::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   left: 30px;
   border: medium solid #333;
   border-width: 10px 10px 10px 0;
   border-color: transparent #333 transparent transparent;
 }

 .right::after {
   left: -16px;
 }

 .content {
  padding: 30px 40px; /* Increased padding */
  background-color: #fff;
  position: relative;
  border-radius: 6px;
 }

 .content h2 {
  font-size: 2.5rem; /* Increased font size */
  font-weight: bold; /* Bold text */
 }

 .content p {
   font-size: 1.5rem; /* Increased font size */
 }

.left {
  width: 75%;
  transform: translateX(-290px);
}

 .right {
   width: 75%;
 }

 @media (max-width: 1024px) {
  .timeline {
    display: none !important;
  }
  .timeline-horizontal{
    display: block;
  }
 }
 .timeline-horizontal {
    overflow-x: auto;
   
    padding: 2rem 0;
    cursor: grab;
    margin-left: 50px;
  margin-right: 50px;
  }

  .timeline-horizontal:active {
    cursor: grabbing;
  }

  .timeline-container {
    display: inline-flex;
  }

  .timeline-card {
    display: inline-block;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    margin: 0 10px;
    width: 900px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .timeline-card h2 {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 1rem;
    font-weight: bold; /* Bold text */
  }

  .timeline-card p {
    font-size: 2rem;
  }

</style>

<section class="timeline-section" id="about">
<div class="intro">
   <h1>About Me</h1>
   <p>A brief summary of my professional career.</p>
</div>


 <div class="timeline">
   <div class="container left">
     <div class="content">
       <h2>2019</h2>
       <p>Completed professional internships in a manufacturing lab, providing training and technical consulting in robotics and microcontroller programming.</p>
     </div>
   </div>
   <div class="container right">
     <div class="content">
       <h2>2020</h2>
       <p>Automated a spreadsheet for a surgical training simulator company, optimizing trainee performance tracking with Python and data analysis libraries.</p>
     </div>
   </div>
   <div class="container left">
     <div class="content">
       <h2>2021</h2>
       <p> Self-taught in web development (HTML/CSS, JavaScript) and database management with Firebase. Built personal projects, learned Bootstrap, and worked with clients on website maintenance and development.</p>
     </div>
   </div>
   <div class="container right">
     <div class="content">
       <h2>2022</h2>
       <p>Focused on backend development with Node.js, creating test APIs using FreeCodeCamp. Studied Technical Programming at UNSAM.</p>
     </div>
   </div>
   <div class="container left">
     <div class="content">
       <h2>2023</h2>
       <p>Completed a Fullstack MERN diploma at UTN, developed an application from scratch, earned Google certifications in Python automation, and built software for a football academy.</p>
     </div>
   </div>
   <div class="container right">
    <div class="content">
      <h2>2024</h2>
      <p>Shifted focus to embedded systems, enrolling in an Embedded Systems & IoT program. Learned ESP-IDF, SQL, and integrated APIs and Node.js into IoT and electronics projects.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2025</h2>
      <p> Looking to apply my skills in a professional environment while continuing my studies in Embedded Systems, with plans for a future master’s degree. In my free time, I work on personal projects and explore technologies like NestJS, Next.js, GraphQL, and Astro.</p>
    </div>
  </div>
 </div>
<div class="timeline-horizontal">
  <div class="timeline-container">
    <div class="timeline-card">
      <h2>2019</h2>
      <p>Completed professional internships in a manufacturing lab, providing training and technical consulting in robotics and microcontroller programming.</p>
    </div>
    <div class="timeline-card">
      <h2>2020</h2>
      <p>Automated a spreadsheet for a surgical training simulator company, optimizing trainee performance tracking with Python and data analysis libraries.</p>
    </div>
    <div class="timeline-card">
      <h2>2021</h2>
      <p>Self-taught in web development (HTML/CSS, JavaScript) and database management with Firebase. Built personal projects, learned Bootstrap, and worked with clients on website maintenance and development.</p>
    </div>
    <div class="timeline-card">
      <h2>2022</h2>
      <p>Focused on backend development with Node.js, creating test APIs using FreeCodeCamp. Studied Technical Programming at UNSAM.</p>
    </div>
    <div class="timeline-card">
      <h2>2023</h2>
      <p>Completed a Fullstack MERN diploma at UTN, developed an application from scratch, earned Google certifications in Python automation, and built software for a football academy.</p>
    </div>
    <div class="timeline-card">
      <h2>2024</h2>
      <p>Shifted focus to embedded systems, enrolling in an Embedded Systems & IoT program. Learned ESP-IDF, SQL, and integrated APIs and Node.js into IoT and electronics projects.</p>
    </div>
    <div class="timeline-card">
      <h2>2025</h2>
      <p>Looking to apply my skills in a professional environment while continuing my studies in Embedded Systems, with plans for a future master’s degree. In my free time, I work on personal projects and explore technologies like NestJS, Next.js, GraphQL, and Astro.</p>
    </div>
  </div>
</div>


<script>
  const timeline = document.querySelector('.timeline-horizontal');
  let isDown = false;
  let startX;
  let scrollLeft;

  timeline.addEventListener('mousedown', (e) => {
    isDown = true;
    timeline.classList.add('active');
    startX = e.pageX - timeline.offsetLeft;
    scrollLeft = timeline.scrollLeft;
  });

  timeline.addEventListener('mouseleave', () => {
    isDown = false;
    timeline.classList.remove('active');
  });

  timeline.addEventListener('mouseup', () => {
    isDown = false;
    timeline.classList.remove('active');
  });

  timeline.addEventListener('mousemove', (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - timeline.offsetLeft;
    const walk = (x - startX) * 3; //scroll-fast
    timeline.scrollLeft = scrollLeft - walk;
  });
</script>

</section>