---

---

<style>
  .timeline-horizontal {
    display: none;
  }

  .intro {
    text-align: center;
    padding: 2rem 0;
  }

  .intro h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .intro p {
    font-size: 2rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
  }

  .timeline-section {
    background-color: #ebe5dc;
    padding: 2rem 0;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .container {
    padding: 20px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #333;
    border: 4px solid #ebe5dc;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
    width: 75%;
    transform: translateX(-290px);
  }

  .right {
    left: 50%;
    width: 75%;
  }

  .left::before,
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid #333;
    border-width: 10px 10px 10px 0;
    border-color: transparent #333 transparent transparent;
  }

  .left::before {
    right: 30px;
  }

  .right::before {
    left: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333;
  }

  .right::after {
    left: -16px;
  }

  .content {
    padding: 30px 40px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
  }

  .content h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .content p {
    font-size: 1.5rem;
  }

  .timeline-line {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #333;
    z-index: 0;
  }

  .timeline-container {
    display: inline-flex;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .timeline-dot {
    position: absolute;
    top: -85px;
    width: 5px;
    height: 30px;
    background-color: #333;
    z-index: 1;
    transform: translateX(-50%);
  }

  .timeline-year {
    position: absolute;
    top: -50px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .timeline-card {
    display: inline-block;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    margin: 0 10px;
    width: 895px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }

  .timeline-card p {
    font-size: 2rem;
  }

  .timeline-horizontal {
    position: relative;
    overflow-x: auto;
    padding: 2rem 0;
    padding-bottom: 10rem;
    cursor: grab;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
  }

  /* RESPONSIVE DESIGN */

  /* Dispositivos hasta 1920px */
  @media (max-width: 1920px) {
    .timeline-line {
      width: 90%; /* Ajustamos el tamaño de la línea */
    }
  }

  /* Dispositivos hasta 1440px */
  @media (max-width: 1440px) {
    .timeline-line {
      width: 85%; /* Ajustamos el tamaño de la línea */
    }
  }

  /* Dispositivos hasta 1024px */
  @media (max-width: 1024px) {
    .timeline-line {
      width: 80%; /* Ajustamos el tamaño de la línea */
    }
  }

  /* Dispositivos hasta 768px (Tablets) */
  @media (max-width: 768px) {
    .timeline {
      display: none;
    }

    .timeline-horizontal {
      display: block;
    }

    .timeline-line {
      width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
    }
  }

  /* Dispositivos hasta 480px (Smartphones) */
  @media (max-width: 480px) {
    .intro h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .intro p {
      font-size: 1rem;
      color: #666;
      max-width: 800px;
      margin: 0 auto;
    }
    .timeline {
      display: none;
    }

    .timeline-horizontal {
      position: relative;
      overflow-x: auto;
      padding: 2rem 0;
      padding-bottom: 0rem;
      cursor: grab;
      margin-left: 5px;
      margin-right: 5px;
      padding-top: 100px;
    }

    .timeline-year {
      top: -50px;
      font-size: 1.5rem;
    }

    .timeline-container {
      padding-top: 0px;
      padding-bottom: 0px;
      width: 700%; /* Asegura que el contenedor sea 100% ancho */
    }

    .timeline-line {
      width: 695%; /* Asegura que la línea ocupe todo el ancho disponible */
      height: 4px;
      background-color: #333; /* Asegura que tenga color */
      position: absolute;

      left: 10px;
      transform: translateY(-50%);
    }

    .timeline-card {
      margin-top: 10px;
    }

    .timeline-card p {
      font-size: 1rem; /* Reducir el tamaño de la fuente para dispositivos móviles */
      margin: 0; /* Eliminar márgenes innecesarios */
      line-height: 1.5; /* Mejorar la legibilidad del texto */
    }
  }
</style>

<section class="timeline-section" id="about">
  <div class="intro">
    <h1>About Me</h1>
    <p>A brief summary of my professional career.</p>
  </div>

  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>2019</h2>
        <p>
          Completed professional internships in a manufacturing lab, providing
          training and technical consulting in robotics and microcontroller
          programming.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2020</h2>
        <p>
          Automated a spreadsheet for a surgical training simulator company,
          optimizing trainee performance tracking with Python and data analysis
          libraries.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2021</h2>
        <p>
          Self-taught in web development (HTML/CSS, JavaScript) and database
          management with Firebase. Built personal projects, learned Bootstrap,
          and worked with clients on website maintenance and development.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2022</h2>
        <p>
          Focused on backend development with Node.js, creating test APIs using
          FreeCodeCamp. Studied Technical Programming at UNSAM.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2023</h2>
        <p>
          Completed a Fullstack MERN diploma at UTN, developed an application
          from scratch, earned Google certifications in Python automation, and
          built software for a football academy.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2024</h2>
        <p>
          Shifted focus to embedded systems, enrolling in an Embedded Systems &
          IoT program. Learned ESP-IDF, SQL, and integrated APIs and Node.js
          into IoT and electronics projects.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2025</h2>
        <p>
          Looking to apply my skills in a professional environment while
          continuing my studies in Embedded Systems, with plans for a future
          master’s degree. In my free time, I work on personal projects and
          explore technologies like NestJS, Next.js, GraphQL, and Astro.
        </p>
      </div>
    </div>
  </div>
  <div class="timeline-horizontal">
    <div class="timeline-line"></div>
    <!-- Línea superior -->

    <div class="timeline-container">
      <h2 class="timeline-year" style="left: 5.5%;">2019</h2>
      <div class="timeline-dot" style="left: 7%;"></div>
      <h2 class="timeline-year" style="left: 19.5%;">2020</h2>
      <div class="timeline-dot" style="left: 21%;"></div>
      <h2 class="timeline-year" style="left: 34.7%;">2021</h2>
      <div class="timeline-dot" style="left: 36%;"></div>
      <h2 class="timeline-year" style="left: 48.7%;">2022</h2>
      <div class="timeline-dot" style="left: 50%;"></div>
      <h2 class="timeline-year" style="left: 63.8%;">2023</h2>
      <div class="timeline-dot" style="left: 65%;"></div>
      <h2 class="timeline-year" style="left: 77.7%;">2024</h2>
      <div class="timeline-dot" style="left: 79%;"></div>
      <h2 class="timeline-year" style="left: 91.7%;">2025</h2>
      <div class="timeline-dot" style="left: 93%;"></div>
      <div class="timeline-card">
        <p>
          Completed professional internships in a manufacturing lab, providing
          training and technical consulting in robotics and microcontroller
          programming.
        </p>
      </div>
      <div class="timeline-card">
        <p>
          Automated a spreadsheet for a surgical training simulator company,
          optimizing trainee performance tracking with Python and data analysis
          libraries.
        </p>
      </div>

      <div class="timeline-card">
        <p>
          Self-taught in web development (HTML/CSS, JavaScript) and Firebase.
          Built projects, learned Bootstrap, and worked with clients on website
          development and maintenance.
        </p>
      </div>
      <div class="timeline-card">
        <p>
          Focused on backend development with Node.js, creating test APIs using
          FreeCodeCamp. Studied Technical Programming at UNSAM.
        </p>
      </div>
      <div class="timeline-card">
        <p>
          Completed a Fullstack MERN diploma at UTN, developed an application
          from scratch, earned Google certifications in Python automation, and
          built software for a football academy.
        </p>
      </div>
      <div class="timeline-card">
        <p>
          Shifted focus to embedded systems, enrolling in an Embedded Systems &
          IoT program. Learned ESP-IDF, SQL, and integrated APIs and Node.js
          into IoT and electronics projects.
        </p>
      </div>
      <div class="timeline-card">
        <p>
          I’m looking to apply my skills in Embedded Systems while pursuing
          further studies. In my free time, I explore technologies like NestJS,
          Next.js, GraphQL, and Astro.
        </p>
      </div>
    </div>
  </div>

  <script>
    const timeline = document.querySelector(".timeline-horizontal");
    let isDown = false;
    let startX;
    let scrollLeft;

    timeline.addEventListener("mousedown", (e) => {
      isDown = true;
      timeline.classList.add("active");
      startX = e.pageX - timeline.offsetLeft;
      scrollLeft = timeline.scrollLeft;
    });

    timeline.addEventListener("mouseleave", () => {
      isDown = false;
      timeline.classList.remove("active");
    });

    timeline.addEventListener("mouseup", () => {
      isDown = false;
      timeline.classList.remove("active");
    });

    timeline.addEventListener("mousemove", (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - timeline.offsetLeft;
      const walk = (x - startX) * 3; //scroll-fast
      timeline.scrollLeft = scrollLeft - walk;
    });
  </script>
</section>
