---
---

<style>
  .intro {
       text-align: center;
       padding: 2rem 0;
   }

   .intro h1 {
       font-size: 8rem; /* Increased font size */
       margin-bottom: 1rem;
   }

   .intro p {
       font-size: 2rem; /* Increased font size */
       color: #666;
       max-width: 800px;
       margin: 0 auto;
   }
 .timeline-section {
   background-color: #ebe5dc; /* beige */
   padding: 2rem 0;
 }

 .timeline {
   position: relative;
   max-width: 1200px;
   margin: 0 auto;
   padding: 2rem;
 }

 .timeline::after {
   content: '';
   position: absolute;
   width: 6px;
   background-color: #333;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -3px;
 }

 .container {
   padding: 20px 50px; /* Increased padding */
   position: relative;
   background-color: inherit;
   width: 50%;
 }

 .container::after {
   content: '';
   position: absolute;
   width: 25px;
   height: 25px;
   right: -17px;
   background-color: #333;
   border: 4px solid #ebe5dc;
   top: 15px;
   border-radius: 50%;
   z-index: 1;
 }

 .left {
   left: 0;
 }

 .right {
   left: 50%;
 }

 .left::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   right: 30px;
   border: medium solid #333;
   border-width: 10px 0 10px 10px;
   border-color: transparent transparent transparent #333;
 }

 .right::before {
   content: " ";
   height: 0;
   position: absolute;
   top: 22px;
   width: 0;
   z-index: 1;
   left: 30px;
   border: medium solid #333;
   border-width: 10px 10px 10px 0;
   border-color: transparent #333 transparent transparent;
 }

 .right::after {
   left: -16px;
 }

 .content {
  padding: 30px 40px; /* Increased padding */
  background-color: #fff;
  position: relative;
  border-radius: 6px;
 }

 .content h2 {
  font-size: 2.5rem; /* Increased font size */
  font-weight: bold; /* Bold text */
 }

 .content p {
   font-size: 1.5rem; /* Increased font size */
 }

.left {
  width: 75%;
  transform: translateX(-290px);
}

 .right {
   width: 75%;
 }

 @media (max-width: 1024px) {
  

  .intro h1 {
    font-size: 4rem;
  }

  .intro p {
    font-size: 2rem;
  }

  .content {
    padding: 0px 20px;
    padding-bottom: 10px;
  }

  .content h2 {
    font-size: 2rem;
    padding-bottom: 10px;

  }
  .content p {
    font-size: 1rem;
  }
  .left {
  width: 50%;
  transform: translateX(-10px);

}

 .right {
   width: 50%;
 }

 }
</style>

<section class="timeline-section" id="about">
<div class="intro">
   <h1>About Me</h1>
   <p>A brief summary of my professional career.</p>
</div>


 <div class="timeline">
   <div class="container left">
     <div class="content">
       <h2>2019</h2>
       <p>This year, after years of learning to program PIC microcontrollers in C during high school, I had the opportunity to do professional internships in a manufacturing lab. There, I provided training and technical consulting in programming focused on robotics and microcontrollers.</p>
     </div>
   </div>
   <div class="container right">
     <div class="content">
       <h2>2020</h2>
       <p>In 2020, I worked for a company that developed surgical training simulators. I automated a spreadsheet where trainees tracked their best times for each exercise, using Python and various data analysis libraries.</p>
     </div>
   </div>
   <div class="container left">
     <div class="content">
       <h2>2021</h2>
       <p>This year, I taught myself web development (HTML/CSS, JavaScript), building basic personal projects and learning frameworks like Bootstrap. I also gained experience in database management with Firebase. Afterward, I had the opportunity to work with several clients, managing both the maintenance and development of their websites.</p>
     </div>
   </div>
   <div class="container right">
     <div class="content">
       <h2>2022</h2>
       <p>This year, after gaining initial development experience, I deepened my backend skills with Node.js, creating my first test APIs using FreeCodeCamp resources. At the same time, I was pursuing a Technical Programming degree at UNSAM.</p>
     </div>
   </div>
   <div class="container left">
     <div class="content">
       <h2>2023</h2>
       <p>This year has been one of the best in my professional career. I completed a Fullstack MERN diploma at UTN and learned to develop an application from scratch. Additionally, I took certifications and courses from Google on Python automation. I also had the opportunity to work for a football academy, developing software.</p>
     </div>
   </div>
   <div class="container right">
    <div class="content">
      <h2>2024</h2>
      <p>This year, I decided to shift my professional focus by leaving the programming degree at UNSAM to specialize in embedded systems. I enrolled in a Technician in Embedded Systems and IoT program, where I learned technologies like ESP-IDF and SQL databases. The most exciting part was applying my knowledge of APIs and Node.js to the world of IoT and electronics.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2025</h2>
      <p>I’m excited to apply everything I’ve learned in a professional development environment, though I’m unsure of what the future holds. Academically, I plan to continue my studies in Embedded Systems and eventually pursue a master’s degree. In my free time, I work on personal projects and explore new technologies like NestJS, Next.js, GraphQL, and Astro.</p>
    </div>
  </div>
 </div>
</section>