---

---

<footer
    style="text-align: center; padding: 20px; background-color: #ebe5dc; border-top: 1px solid #e7e7e7;"
>
    <div style="background-color: #74acdf; height: 5px;"></div>
    <div style="background-color: #ffffff; height: 5px;"></div>
    <div style="background-color: #74acdf; height: 5px;"></div>
    <p style="margin-top: 20px;">
        &copy; 2025 Facundo Ruiz. All rights reserved.
    </p>
    <style>
        footer div:first-child,
        footer div:nth-child(2),
        footer div:nth-child(3) {
            margin-left: -20px;
            margin-right: -20px;
        }
        @media (max-width: 1024px) {
            footer p {
                font-size: 18px;
            }
            footer span {
                font-size: 18px;
            }
        }
    </style>
    <p>Made in Argentina</p>

    <div>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
    </div>
</footer>
