---

---

<style>
    footer div:first-child,
    footer div:nth-child(2),
    footer div:nth-child(3) {
        margin-left: -20px;
        margin-right: -20px;
    }

    /* Dispositivos hasta 480px (Smartphones) */
    @media (max-width: 480px) {
        p {
            font-size: 0.8rem;
        }
    }
</style>

<footer
    style="text-align: center; padding: 20px; background-color: #ebe5dc; border-top: 1px solid #e7e7e7;"
>
    <div style="background-color: #74acdf; height: 5px;"></div>
    <div style="background-color: #ffffff; height: 5px;"></div>
    <div style="background-color: #74acdf; height: 5px;"></div>
    <p style="margin-top: 20px;">
        &copy; 2025 Facundo Ruiz. All rights reserved.
    </p>
    <p>Made in Argentina</p>
    <div>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
    </div>
</footer>
