---
import linkedinIcon from "../assets/linkedin.svg";
import githubIcon from "../assets/github.svg";
import emailIcon from "../assets/envelope-at-fill.svg";
---

<style>
  header {
    background-color: #ebe5dc; /* beige */
    color: #333; /* dark text */
    padding: 5px;
    padding-left: 230px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 1000; /* Asegura que quede por encima de otros elementos */


  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
   
  
  }

  nav ul li a {
    color: #ebe5dc; /* dark text */
    text-decoration: none;
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
    display: block; /* make the anchor tag a block element */
    padding: 0.3rem 0.8rem; /* increase padding to cover the entire column */
  }

  nav ul li a {
    border-radius: 5px; /* rounded border */
    background-color: #999693; /* light gray background */
  }

  nav ul li a:hover {
    color: #ffffff; /* change text color on hover */
    background-color: #333; /* change background color on hover */
  }

  .social-icons {
    margin-right: 230px;
  }
  .social-icons img {
    
  
    filter: invert(33%) sepia(7%) saturate(0%) hue-rotate(180deg)
      brightness(95%) contrast(87%); /* dark color for SVG icons */
  }

  .social-icons img:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
      contrast(100%); /* white color for SVG icons on hover */
  }

  /* RESPONSIVE DESIGN */

  /* Dispositivos hasta 1920px */
  @media (max-width: 1920px) {
  }

  /* Dispositivos hasta 1440px */
  @media (max-width: 1440px) {
  }

  /* Dispositivos hasta 1024px */
  @media (max-width: 1024px) {
  }

  /* Dispositivos hasta 768px (Tablets) */
  @media (max-width: 768px) {
  }

  /* Dispositivos hasta 480px (Smartphones) */
  @media (max-width: 480px) {
    header {
      padding-top: 5px; /* p-4 */
      padding-left: 8px;
      top: 0;
      z-index: 1000; /* Asegura que quede por encima de otros elementos */
      position: sticky;
    }


    nav ul li{
      margin-left: 2.5%;
     
    
    }
    nav ul li a {
    color: #ebe5dc; /* dark text */
    font-size: 7px;
    text-decoration: none;
    border-radius: 2px; /* rounded border */
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;


    padding: 0.2rem; /* increase padding to cover the entire column */
    width: 48px;
    text-align: center;
  }
      
  .social-icons {
    margin-right: 8px;
   
  }
    .social-icons img {
      width: 11px; /* Tamaño reducido de los íconos */
      height: 11px; /* Tamaño reducido de los íconos */
    
     
    }

  
  }
</style>

<header>
  <div class="content">
    <nav>
      <ul class="flex space-x-4">
        <li><a href="#home" class="hover:text-gray-400">Home</a></li>
        <li><a href="#projects" class="hover:text-gray-400">Projects</a></li>
        <li><a href="#about" class="hover:text-gray-400">About Me</a></li>
        <li><a href="#contact" class="hover:text-gray-400">Contact Me</a></li>
      </ul>
    </nav>
    <div class="social-icons flex space-x-1">
      <a
        href="https://www.linkedin.com/in/facumruiz"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-400"
      >
        <img src={linkedinIcon.src} alt="LinkedIn" class="h-6 w-6" />
      </a>
      <a
        href="https://www.github.com/facumruiz"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-gray-400"
      >
        <img src={githubIcon.src} alt="GitHub" class="h-6 w-6" />
      </a>
      <a href="mailto:facundoruizdev@gmail.com" class="hover:text-gray-400">
        <img src={emailIcon.src} alt="Email" class="h-6 w-6" />
      </a>
    </div>
  </div>
</header>
